<a href="https://colab.research.google.com/github/Tractor-kun/Jul-Vac-Python/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#MINI CHALLENGE #1:
student_id = 3324

In [4]:
student_id = 3400

In [5]:
student_id = 3530

In [7]:
student_id

3530

In [8]:
#MINI CHALLENGE #2:
unicorn_id = 112

In [9]:
unicorn_id = 115.3

In [10]:
unicorn_id

115.3

In [13]:
#MINI CHALLENGE #3:
number_tutors = 23

In [14]:
tutor_fee = 2500

In [16]:
total = number_tutors * tutor_fee
total

57500

In [17]:
#MINI CHALLENGE #4:
fees_on_day1 = 260 
fees_on_day2 = 280
total = fees_on_day1 + fees_on_day2
total

540

In [32]:
#MINI CHALLENGE #5:
number_students = 15
initial_price = 300
final_price = 500

In [33]:
initial_total = number_students * initial_price
initial_total

4500

In [34]:
final_total = number_students * final_price
final_total

7500

In [36]:
profit = final_total - initial_total
profit

3000

In [39]:
#MINI CHALLENGE #6:
x = 6
y = 10
z = (x - y) * (x + y)
z

-64

In [45]:
#MINI CHALLENGE #7:
company_name = "Unicorn Developers"
total_students = '30'
myname = '(Joel)'

print("The total number of students at {} are {}.{}".format(company_name, total_students,myname))

The total number of students at Unicorn Developers are 30.(Joel)

In [48]:
#MINI CHALLENGE #8:
x = input("Enter the fee for a course you want to study: ")
x = int(x)
y = input("Enter the number of courses that you want to pay for: ")
y = int(y)
z = input("Enter the name of the company that you want to study at ")
print("The total funds required to pay for {} number of UniDev courses at {} is {}".format(y,x,x * y))

Enter the fee for a course you want to study: 3000
Enter the number of courses that you want to pay for: 5
Enter the name of the company that you want to study at UniDev
The total funds required to pay for 5 number of UniDev courses at 3000 is 15000